@import "./vars.scss";

@font-face {
  font-family: 'PTSans-Bold';
  src: url('~@/assets/fonts/PTSans-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Regular';
  src: url('~@/assets/fonts/PTSans-Regular.woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'PTSans-Regular', sans-serif;
}